files/app/code/local/Customweb/UnzerCw/etc/wsi.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:typens="urn:{{var wsdl.name}}"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             name="{{var wsdl.name}}"
             targetNamespace="urn:{{var wsdl.name}}">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:{{var wsdl.name}}">
            <xsd:complexType name="unzercwTransactionEntity">
                <xsd:sequence>
                    <xsd:element name="transaction_id" type="xsd:int" minOccurs="0" />
                    <xsd:element name="transaction_external_id" type="xsd:string" minOccurs="0" />
                    <xsd:element name="order_id" type="xsd:int" minOccurs="0" />
                    <xsd:element name="order_payment_id" type="xsd:int" minOccurs="0" />
                    <xsd:element name="alias_for_display" type="xsd:string" minOccurs="0" />
                    <xsd:element name="alias_active" type="xsd:boolean" minOccurs="0" />
                    <xsd:element name="payment_method" type="xsd:string" minOccurs="0" />
                    <xsd:element name="authorization_type" type="xsd:string" minOccurs="0" />
                    <xsd:element name="customer_id" type="xsd:int" minOccurs="0" />
                    <xsd:element name="updated_on" type="xsd:string" minOccurs="0" />
                    <xsd:element name="created_on" type="xsd:string" minOccurs="0" />
                    <xsd:element name="payment_id" type="xsd:string" minOccurs="0" />
                    <xsd:element name="authorization_amount" type="xsd:string" minOccurs="0" />
                    <xsd:element name="authorization_status" type="xsd:string" minOccurs="0" />
                    <xsd:element name="paid" type="xsd:boolean" minOccurs="0" />
                    <xsd:element name="currency" type="xsd:string" minOccurs="0" />
                    <xsd:element name="data" type="typens:associativeArray" minOccurs="0" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="unzercwTransactionEntityArray">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="complexObjectArray" type="typens:unzercwTransactionEntity" />
                </xsd:sequence>
            </xsd:complexType>

            <xsd:element name="unzercwTransactionListRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="filters" type="typens:filters" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="unzercwTransactionListResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="typens:unzercwTransactionEntityArray" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="unzercwTransactionInfoRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="transactionId" type="xsd:int" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="attributes" type="typens:ArrayOfString" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="unzercwTransactionInfoResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="typens:unzercwTransactionEntity" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="unzercwTransactionInfoByPaymentIdRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="paymentId" type="xsd:int" />
                        <xsd:element minOccurs="0" maxOccurs="1" name="attributes" type="typens:ArrayOfString" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="unzercwTransactionInfoByPaymentIdResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="typens:unzercwTransactionEntity" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="unzercwTransactionListRequest">
        <wsdl:part name="parameters" element="typens:unzercwTransactionListRequestParam" />
    </wsdl:message>
    <wsdl:message name="unzercwTransactionListResponse">
        <wsdl:part name="parameters" element="typens:unzercwTransactionListResponseParam" />
    </wsdl:message>
    <wsdl:message name="unzercwTransactionInfoRequest">
        <wsdl:part name="parameters" element="typens:unzercwTransactionInfoRequestParam" />
    </wsdl:message>
    <wsdl:message name="unzercwTransactionInfoResponse">
        <wsdl:part name="parameters" element="typens:unzercwTransactionInfoResponseParam" />
    </wsdl:message>
    <wsdl:message name="unzercwTransactionInfoByPaymentIdRequest">
        <wsdl:part name="parameters" element="typens:unzercwTransactionInfoByPaymentIdRequestParam" />
    </wsdl:message>
    <wsdl:message name="unzercwTransactionInfoByPaymentIdResponse">
        <wsdl:part name="parameters" element="typens:unzercwTransactionInfoByPaymentIdResponseParam" />
    </wsdl:message>
    <wsdl:portType name="{{var wsdl.handler}}PortType">
        <wsdl:operation name="unzercwTransactionList">
            <wsdl:documentation>Retrieve UnzerCw Transactions</wsdl:documentation>
            <wsdl:input message="typens:unzercwTransactionListRequest" />
            <wsdl:output message="typens:unzercwTransactionListResponse" />
        </wsdl:operation>
        <wsdl:operation name="unzercwTransactionInfo">
            <wsdl:documentation>Retrieve UnzerCw Transaction Data By Transaction Id</wsdl:documentation>
            <wsdl:input message="typens:unzercwTransactionInfoRequest" />
            <wsdl:output message="typens:unzercwTransactionInfoResponse" />
        </wsdl:operation>
        <wsdl:operation name="unzercwTransactionInfoByPaymentId">
            <wsdl:documentation>Retrieve UnzerCw Transaction Data By Payment Id</wsdl:documentation>
            <wsdl:input message="typens:unzercwTransactionInfoByPaymentIdRequest" />
            <wsdl:output message="typens:unzercwTransactionInfoByPaymentIdResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="unzercwTransactionList">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="unzercwTransactionInfo">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
         <wsdl:operation name="unzercwTransactionInfoByPaymentId">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>
